* {
    padding: 0;
    margin: 0;
}

/* COMMON */

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
} 
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
}

/* Buttons styles start */
button.reset {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button.reset:hover,
button.reset:focus {
    background: transparent;
}

button.reset:focus {
    outline: none;
}

button.reset:active {
    transform: scale(0.99);
}
/* Button styles end */

/* COMMON END */

header {
    background: #fff;
}

#main_wrapper.container-fluid, #header .container {
    padding: 0;
}

#lanovo_logo {
    width: 120px;
    height: 40px;
}

/* Locator Dropdown */
#locatorOptBtn.btn-secondary {
    background: unset;
    color: #555555;
    border-radius: 0.3rem;
    border-color: #47c3e5;
    text-transform: uppercase;
    padding: 0em .35em;
    font-size: 0.8rem;
}
#locatorOptBtn.btn-secondary::after {
    color: #47c3e5;
    border-top-width: .5em;
    border-right-width: .5em;
    border-left-width: .5em;
    vertical-align: .100em;
}
#locatorOptDropdown .dropdown-menu {
    padding: 0em;
    background-color: #fff;
}
#locatorOptDropdown .dropdown-item {
    padding: .2em;
    background-color: #47c3e5;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}
#locatorOptDropdown .dropdown-item:last-child {
    border-bottom: unset;
}

/* Main */
#main-content {
    margin-top: 50px;
}

/* Top Navigation */
#navigation_top.navbar {
    padding: 0;
}
#navigation_top .navbar-toggler {
    padding: 0;
    border: 0;
    margin: 0;
}
#navigation_top.navbar.navbar-light .navbar-toggler-icon {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzAgMTgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMwIDE4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzZEQ0ZGNjt9PC9zdHlsZT48Zz48cmVjdCB5PSIwIiBjbGFzcz0ic3QwIiB3aWR0aD0iMzAiIGhlaWdodD0iMyIvPjwvZz48Zz48cmVjdCB5PSI1IiBjbGFzcz0ic3QwIiB3aWR0aD0iMzAiIGhlaWdodD0iMyIvPjwvZz48Zz48cmVjdCB5PSIxMCIgY2xhc3M9InN0MCIgd2lkdGg9IjMwIiBoZWlnaHQ9IjMiLz48L2c+PGc+PHJlY3QgeT0iMTUiIGNsYXNzPSJzdDAiIHdpZHRoPSIzMCIgaGVpZ2h0PSIzIi8+PC9nPjwvc3ZnPg==);
}
/* Search */
.search-main {
    background-color: #47c3e5;
    padding: 5px;
    overflow: hidden;
    margin-top: 1px;
}
.search-main .input-group-text {
    font-size: 1.5rem;
    padding: .375rem .4rem;
}
.search-main #locator_search_field {
    font-size: 0.9rem;
}

/* Slider (Carousel) */
.home-carousel .carousel-item {
    object-fit: cover;
}
.home-carousel  .carousel-indicators {
    margin-bottom: 0;
    bottom: 5px;
}
.home-carousel  .carousel-indicators li {
    width: 15px;
}

/* Search Results */
#search_result_wrapper {
    -webkit-box-shadow: 0px -11px 10px -7px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px -11px 10px -7px rgba(0,0,0,0.16);
    box-shadow: 0px -11px 10px -7px rgba(0,0,0,0.16);

    position: fixed;
    z-index: 123456;
    width: 100%;
    height: 500px;
    padding: 0;
    overflow-y: auto;
}
#search_result_wrapper li {
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#search_result_wrapper li button {
    padding: .7em .8em;
}
#search_result_wrapper li h2 {
    font-size: 1rem;
    font-weight: bold;
}
#search_result_wrapper .website-email {
    margin-top: .6em;
}
#search_result_wrapper .website-email a {
    margin-right: 1em;
}
#search_result_wrapper span.store-time {
    font-size: 0.7em;
    font-weight: normal;
    color: #555;
    top: 0;
    right: 0;
    display: block;
}
#search_result_wrapper li p {
    font-size: .8rem;
    padding: 0;
    margin: 0;
    line-height: 1.3em;
}
#search_result_wrapper li p .km {
    display: inline-block;
    border-right: 1px solid red;
    padding-right: .3em;
}
#search_result_wrapper li a {
    color: #47c3e5;
}
#search_result_wrapper li a {
    color: #47c3e5;
}

#search_result_wrapper li #contact_block .col {
    padding: 0;
    margin: 0;
}
#search_result_wrapper li #contact_block a {
    display: block;
    text-align: center;
}
#search_result_wrapper li #contact_block a svg {
    font-size: 1.5rem;
}
#search_result_wrapper li #contact_block a span {
    display: block;
    text-align: center;
    font-size: .7rem;
    text-transform: uppercase;
}
#search_result_wrapper #search_list li > .row {
    padding: .3em 0;
    position: relative;
}
#search_result_wrapper #search_list li > .row > .col {
    position: unset;
}
/******* MEDIA QUERIES ********/

/* Slider */
@media only screen and (max-width: 371px) {
    .home-carousel .carousel-item {
        height: 156px;
        object-fit: cover;
    }
}
